@import "tailwindcss";
html, body, #app {
  height: 100%;
  margin: 0;
  background: #ffffff !important;
  background-attachment: fixed; 
  background-repeat: no-repeat;
  background-size: cover;
  color: #24252a;
}

* {
  color-scheme: light;
}
